<footer class="footer_wrap widget_area scheme_original">
    <div class="footer_wrap_inner widget_area_inner">
        <div class="content_wrap">
            <div class="columns_wrap">

                <div class="textwidget">
                    <ul class="sc_list sc_list_style_iconed">
                        <li class="sc_list_item odd first">
                            <span class="sc_list_icon icon-location-1"></span>
                            <div class="wpb_text_column wpb_content_element"></div>

                        </li>
                    </ul>
                </div>


            </div>

        </div>
    </div>
</footer>