<app-navbar>
</app-navbar>
<div class="page_content_wrap">
    <div class="menu_main_wrap">
        <app-sidebar></app-sidebar>
    </div>
    <div class="content_wrap with_title">
        <div class="top_panel_title">
            <div class="top_panel_title_inner">
                <h1 class="page_title">CIENCIAS EMPRESARIALES</h1>
            </div>
        </div>
        <div class="content_wrap">
            <article class="post_item post_item_single post_format_standard page hentry">
                <section class="post_content">
                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="columns_wrap sc_columns columns_nofluid sc_columns_count_2" data-equal-height=".sc_column_item">
                                        <div class="column-1_2 sc_column_item">
                                            <div class="sc_section sc_section_block fullheight">
                                                <div class="sc_section_inner">
                                                    <div class="sc_section_content_wrap">
                                                        <div class="vc_empty_space hpx_6">
                                                            <span class="vc_empty_space_inner"></span>
                                                        </div>
                                                        <h2 class="sc_title sc_title_regular single_member">JUAN DE DIOS URIBE</h2>
                                                        <div class="wpb_text_column wpb_content_element">
                                                            <div class="wpb_wrapper">
                                                                <p>
                                                                    DECANO (A) DE FACULTAD NEGOCIOS Y CIENCIAS EMPRESARIALES&nbsp; </p>
                                                                <p>
                                                                    <span class="icon-mail-empty"> Email :
                                                            <span>juan.uribe.docente@unisabaneta.edu.co<br /></span>
                                                                    </span>
                                                                    <span class="icon-telephone"> &nbsp;Telefono: 3011818 Ext: 117</span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column-1_2 sc_column_item chief_block">
                                            <div class="sc_section text-center ">
                                                <img src="assets/FOTOS/10775810E.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vc_empty_space hpx_30">
                                        <span class="vc_empty_space_inner"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="sc_section sc_section_block">
                                        <div class="sc_section_inner">
                                            <div class="sc_section_content_wrap">
                                                <div id="sc_team_685_wrap" class="sc_team_wrap">
                                                    <div id="sc_team_685" class="sc_team sc_team_style_team-1">
                                                        <div class="sc_columns columns_wrap">
                                                            <div *ngFor="let facultadCienciaEmp of facultadCienciasEmp" class="column-1_3 column_padding_bottom">
                                                                <div id="sc_team_685_1" class="sc_team_item sc_team_item_1">
                                                                    <div class="sc_team_item_avatar">
                                                                        <img class="wp-post-image" width="370" height="370" alt="" src="assets/images/{{facultadCienciaEmp.Cedula}}.png">
                                                                        <div class="sc_team_item_hover">

                                                                        </div>
                                                                    </div>
                                                                    <div class="sc_team_item_info">
                                                                        <h3 class="sc_team_item_title">
                                                                            <a>{{facultadCienciaEmp.Nombre}} {{facultadCienciaEmp.Apellido}}</a>
                                                                        </h3>
                                                                        <div class="sc_team_item_position">{{facultadCienciaEmp.Cargo}}</div>
                                                                        <div class="sc_team_item_position">Extension {{facultadCienciaEmp.Extension}}</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vc_empty_space hpx_30">
                                        <span class="vc_empty_space_inner"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="sc_section sc_section_block">
                                        <div class="sc_section_inner">
                                            <div class="sc_section_content_wrap">
                                                <div id="sc_tabs_802" class="sc_tabs sc_tabs_style_1" data-active="0">
                                                    <ul class="sc_tabs_titles">
                                                        <li class="sc_tabs_title first">
                                                            <a href="https://unisabaneta.edu.co/administracion-de-empresas/" target="_blank" class="theme_button" id="sc_tab_744_1_7_tab">Sobre la facultad</a>
                                                        </li>
                                                        <li class="sc_tabs_title">
                                                            <a routerLink="/archivos" class="theme_button" id="sc_tab_444_1_tab">Documentos</a>
                                                        </li>
                                                        <li class="sc_tabs_title last">
                                                            <a href="https://unisabaneta.edu.co/administracion-de-empresas/" target="_blank" class="theme_button" id="sc_tab_891_10_tab">¿Por que Ciencias Empresariales?</a>
                                                        </li>
                                                    </ul>
                                                    <div id="sc_tab_744_1_7" class="sc_tabs_content odd first">
                                                        <div class="columns_wrap sc_columns columns_nofluid sc_columns_count_2">
                                                            <div class="column-1_2 sc_column_item sc_column_item_1 first">
                                                                <div class="wpb_text_column wpb_content_element">
                                                                    <div class="wpb_wrapper">
                                                                        <h6>Perfil Profesional</h6>
                                                                        <p>
                                                                            El egresado del programa de Contaduría Pública de Unisabaneta, tendrá la capacidad de velar por la orientación financiera de la empresa, por medio de una información adecuada, oportuna y veraz. Su formación y su gestión investigativa en la contaduría
                                                                            y la auditoría son las bases fundamentales para una adecuada toma de decisiones a nivel empresarial, por lo tanto, estará en la capacidad de diseñar, evaluar e implementar sistemas
                                                                            de control y auditoría operativa en empresas públicas y privadas.
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="column-1_2 sc_column_item sc_column_item_2">
                                                                <div class="wpb_text_column wpb_content_element">
                                                                    <div class="wpb_wrapper">
                                                                        <h6>Objetivo</h6>
                                                                        <p>
                                                                            Preparar profesionales con sólidos conocimientos en el área Contable que logren una fundamentación académica moderna nacional e internacionalmente, que les permita un proceso de formación con el más alto nivel de rigurosidad , de tal manera que puedan
                                                                            responder al desarrollo de las organizaciones empresariales en diferentes sectores de la economía a nivel local, nacional e internacional.
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="sc_tab_444_1" class="sc_tabs_content">
                                                        <div class="columns_wrap sc_columns columns_nofluid sc_columns_count_2">
                                                            <div class="column-1_2 sc_column_item sc_column_item_1 first">
                                                                <div class="wpb_text_column wpb_content_element">
                                                                    <div class="wpb_wrapper">
                                                                        <h6>Innovative ideas</h6>
                                                                        <p>
                                                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                                                                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="column-1_2 sc_column_item sc_column_item_2">
                                                                <div class="wpb_text_column wpb_content_element">
                                                                    <div class="wpb_wrapper">
                                                                        <h6>Innovative ideas</h6>
                                                                        <p>
                                                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                                                                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="sc_tab_891_10" class="sc_tabs_content">
                                                        <div class="columns_wrap sc_columns columns_nofluid sc_columns_count_2">
                                                            <div class="column-1_2 sc_column_item sc_column_item_1 first">
                                                                <div class="wpb_text_column wpb_content_element">
                                                                    <div class="wpb_wrapper">
                                                                        <h6>¿Por qué estudiar Contaduría Pública en Unisabaneta?</h6>
                                                                        <p>Énfasis académico: Auditoría</p>
                                                                        <p>Flexibilidad en los horarios</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="column-1_2 sc_column_item sc_column_item_2">
                                                                <div class="wpb_text_column wpb_content_element">
                                                                    <div class="wpb_wrapper">
                                                                        <p>Flexibilidad en electivas</p>
                                                                        <p>Doble titulación con los programas de la Facultad de Negocios y Ciencias Empresariales</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="related_wrap related_wrap_empty"></section>
            </article>
            <!-- </article> class="post_item post_item_single post_format_standard page hentry"> -->
            <a href="#" class="scroll_to_top icon-up" title="Scroll to top"></a>
        </div>
        <div class="sidebar_wrap sidebar widget_area scheme_original" role="complementary">
            <app-sidebar2></app-sidebar2>
        </div>
    </div>
    <app-footer></app-footer>