<app-navbar>
</app-navbar>
<div class="page_content_wrap">
    <div class="menu_main_wrap">
        <app-sidebar></app-sidebar>
    </div>
    <div class="content_wrap with_title">
        <div class="top_panel_title">
            <div class="top_panel_title_inner">
                <h1 class="page_title">Vacantes</h1>
            </div>
        </div>
        <div class="content_wrap">
            <article class="post_item post_item_single post_format_standard page hentry">
                <section class="post_content">
                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="sc_section sc_section_block">
                                        <div class="sc_section_inner">
                                            <div class="sc_section_content_wrap">
                                                <div id="sc_vacancies_812_wrap" class="sc_vacancies_wrap">
                                                    <form method="POST" class="vacancies_search_form">
                                                        <input type="text" class="vacancies_search_field" placeholder="Puesto" value="" name="location">
                                                        <select class="vacancies_categories_filter" name="Area">
                                                      <option value="">Area</option>
                                                      <option value="Finance and Accounting">Mercadeo</option>
                                                      <option value="IT &amp; Technology">IT &amp; Virtualizacion</option>
                                                      <option value="Marketing">CDT</option>
                                                      <option value="Project Management">Docencia</option>
                                                   </select>
                                                        <input type="submit" value="Buscar" class="vacancies_search_submit">
                                                    </form>
                                                    <div id="sc_vacancies_812" class="sc_vacancies sc_table">
                                                        <table>
                                                            <thead>
                                                                <tr>
                                                                    <td>INFORMACIÓN</td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>Puesto</td>
                                                                    <td>Area</td>
                                                                    <td>tiempo</td>
                                                                    <td>Salario</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="position">
                                                                        <a href="#">
                                                                            <span class="post_position">Docente</span>
                                                                        </a>
                                                                    </td>
                                                                    <td class="location">
                                                                        <a href="#">Ingenieria</a>
                                                                    </td>
                                                                    <td class="employment">
                                                                        <span class="full">Completo</span>
                                                                    </td>
                                                                    <td class="salary">
                                                                        <a href="#">1-2 SMLV</a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="position">
                                                                        <a href="#">
                                                                            <span class="post_position">Docente</span>
                                                                        </a>
                                                                    </td>
                                                                    <td class="location">
                                                                        <a href="#">Derecho</a>
                                                                    </td>
                                                                    <td class="employment">
                                                                        <span class="part">Catedra</span>
                                                                    </td>
                                                                    <td class="salary">
                                                                        <a href="#">1-2SMLV</a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="position">
                                                                        <a href="#">
                                                                            <span class="post_position">Auxiliar Talento Humano</span>
                                                                        </a>
                                                                    </td>
                                                                    <td class="location">
                                                                        <a href="#">Talento Humano</a>
                                                                    </td>
                                                                    <td class="employment">
                                                                        <span class="full">Completo</span>
                                                                    </td>
                                                                    <td class="salary">
                                                                        <a href="#">1-2SMLV</a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="position">
                                                                        <a href="#">
                                                                            <span class="post_position">Advertising Manager</span>
                                                                        </a>
                                                                    </td>
                                                                    <td class="location">
                                                                        <a href="#">Denver</a>
                                                                    </td>
                                                                    <td class="employment">
                                                                        <span class="freelance">Freelance</span>
                                                                    </td>
                                                                    <td class="salary">
                                                                        <a href="#">$45.000</a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="position">
                                                                        <a href="#">
                                                                            <span class="post_position">Accountant</span>
                                                                        </a>
                                                                    </td>
                                                                    <td class="location">
                                                                        <a href="#">New York</a>
                                                                    </td>
                                                                    <td class="employment">
                                                                        <span class="part">Part Time</span>
                                                                    </td>
                                                                    <td class="salary">
                                                                        <a href="#">$55.000</a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="position">
                                                                        <a href="#">
                                                                            <span class="post_position">3d modeler</span>
                                                                        </a>
                                                                    </td>
                                                                    <td class="location">
                                                                        <a href="#">Chicago</a>
                                                                    </td>
                                                                    <td class="employment">
                                                                        <span class="freelance">Freelance</span>
                                                                    </td>
                                                                    <td class="salary">
                                                                        <a href="#">$65.000</a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="position">
                                                                        <a href="#">
                                                                            <span class="post_position">Content manager</span>
                                                                        </a>
                                                                    </td>
                                                                    <td class="location">
                                                                        <a href="#">New York</a>
                                                                    </td>
                                                                    <td class="employment">
                                                                        <span class="part">Part Time</span>
                                                                    </td>
                                                                    <td class="salary">
                                                                        <a href="#">$30.000</a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="position">
                                                                        <a href="#">
                                                                            <span class="post_position">Programmer</span>
                                                                        </a>
                                                                    </td>
                                                                    <td class="location">
                                                                        <a href="#">Chicago</a>
                                                                    </td>
                                                                    <td class="employment">
                                                                        <span class="freelance">Freelance</span>
                                                                    </td>
                                                                    <td class="salary">
                                                                        <a href="#">$75.000</a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- </section> class="post_content"> -->
                <section class="related_wrap related_wrap_empty"></section>
            </article>
            <!-- </article> class="post_item post_item_single post_format_standard page hentry"> -->
            <a href="#" class="scroll_to_top icon-up" title="Scroll to top"></a>
        </div>
        <div class="sidebar_wrap sidebar widget_area scheme_original" role="complementary">
            <app-sidebar2></app-sidebar2>
        </div>
    </div>
    <app-footer></app-footer>