<!-- navbar -->
<app-navbar></app-navbar>
<!-- navbar -->
<div class="page_content_wrap">
    <!-- sidebar -->
    <div class="menu_main_wrap">
        <app-sidebar></app-sidebar>
    </div>
    <!-- sidebar -->
    <!-- contenido -->
    <div class="content_wrap">
        <article class="post_item post_item_single post_format_standard page hentry">
            <section class="post_content">
                <div class="vc_row wpb_row vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <figure class="sc_image  sc_image_shape_square full_width">

                                    <a href="https://unisabaneta.edu.co/noticias/" target="_blank"> <img src="assets/images/banner-2.jpg" alt="" /></a>
                                </figure>
                                <div class="vc_empty_space hem_3-2">
                                    <span class="vc_empty_space_inner"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vc_row wpb_row vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <h2 class="sc_title sc_title_underline">Hola de nuevo, Juanfer!</h2>
                                <div class="vc_empty_space hpx_17">
                                    <span class="vc_empty_space_inner"></span>
                                </div>
                                <div class="columns_wrap sc_columns columns_nofluid sc_columns_count_2">
                                    <div class="column-2_4 sc_column_item sc_column_item_1 odd first">
                                        <!-- calendario  -->
                                        <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="displayMonths" [navigation]="navigation" [showWeekNumbers]="showWeekNumbers" [dayTemplate]="t" [outsideDays]="outsideDays">
                                        </ngb-datepicker>
                                        <ng-template #t let-date let-focused="focused">
                                            <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)">
                                              {{ date.day }}
                                            </span>
                                        </ng-template>
                                        <hr/>
                                        <!-- calendario  -->
                                        <div class="vc_empty_space hpx_30">
                                            <span class="vc_empty_space_inner"></span>
                                        </div>
                                        <div class="ajde_evcal_calendar ">
                                            <div id="evcal_list" class="eventon_events_list ">
                                                <div class="eventon_list_event event">
                                                    <p class="desc_trig_outter">
                                                        <a class="desc_trig sin_val evcal_list_a">
                                                            <span class="evcal_cblock">
                                                      <em class="evo_date"><span class="start">27<em>Oct</em></span></em>
                                                            <span class="evo_time"><span class="start">6:00 Pm</span><span class="end">- 01:00 am</span></span>
                                                            <em class="clear"></em>
                                                            </span>
                                                            <span class="evcal_desc evo_info hide_eventtopdata">
                                                      <span class="evo_above_title"></span>
                                                            <span class="evcal_desc2 evcal_event_title">Fiestas de la U</span>
                                                            <span class="evo_below_title"></span><span class="evcal_desc_info"></span><span class="evcal_desc3"></span>
                                                            </span>
                                                            <em class="clear"></em>
                                                        </a>
                                                    </p>
                                                    <div class="event_description evcal_eventcard">
                                                        <div class="evo_metarow_fimg evorow evcal_evdata_img event_img_1">
                                                            <img id="fiestas" src="https://pbs.twimg.com/media/DqOjZaPX0AAmoM9.jpg" alt="">
                                                        </div>
                                                        <div class="evo_metarow_details evorow evcal_evdata_row bordb evcal_event_details">
                                                            <span class="evcal_evdata_icons"><i class="fa fa-align-justify"></i></span>
                                                            <div class="evcal_evdata_cell ">
                                                                <div class="eventon_full_description">
                                                                    <h3 class="padb5 evo_h3">Detalles</h3>
                                                                    <div class="eventon_desc_in">
                                                                        <p>fiestas del a u jasdcnks,bckszbcjzfsaknas wadj lawijdiwjd widj w iwjliajdijwalidjlawidjiww wjdaiw oaidjawoijdiwajdiojwaidjowajdjiawndnf ijwifiwjif iwjdljw idjalkwoijwpofkspjmsidj
                                                                            fi afji ohoasnkjszfnushfuiahfiuah foahf oaihf oaihf aiuh fuas fjkh dfu </p>
                                                                        <p>aisfgiwauhiwuhd w asfasfjoiafj safnsa fsamcvnkjbvehefih owifoqiurioyriuey efajfoiahf oia aoijfklasfjiowahfuwirywy fuifh isa alfkjaoiwhfiowuefh ufh alfkjiawfhoaihf f.</p>
                                                                    </div>
                                                                    <div class="clear"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="evo_metarow_time evorow evcal_evdata_row bordb evcal_evrow_sm ">
                                                            <span class="evcal_evdata_icons"><i class="fa fa-clock-o"></i></span>
                                                            <div class="evcal_evdata_cell">
                                                                <h3 class="evo_h3">Horario</h3>
                                                                <p>(Sábado) 6:00 pm - 01:00 am</p>
                                                            </div>
                                                        </div>
                                                        <div class="evo_metarow_ICS evorow bordb evcal_evdata_row">
                                                            <span class="evcal_evdata_icons"><i class="fa fa-calendar"></i></span>
                                                            <div class="evcal_evdata_cell">
                                                                <p>

                                                                    <a href="#" target="_blank" class="evo_ics_gCal" title="Add to google calendar">Agregar al calendario de Google</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="clear end"></div>
                                                </div>
                                                <div class="eventon_list_event event">
                                                    <p class="desc_trig_outter">
                                                        <a class="desc_trig sin_val evcal_list_a">
                                                            <span class="evcal_cblock">
                                                      <em class="evo_date"><span class="start">28<em>feb</em></span></em>
                                                            <span class="evo_time"><span class="start">10:00 am</span><span class="end">- 4:00 pm</span></span>
                                                            <em class="clear"></em>
                                                            </span>
                                                            <span class="evcal_desc evo_info hide_eventtopdata">
                                                      <span class="evo_above_title"></span>
                                                            <span class="evcal_desc2 evcal_event_title">Evento de Egresados</span>
                                                            <span class="evo_below_title"></span><span class="evcal_desc_info"></span><span class="evcal_desc3"></span>
                                                            </span>
                                                            <em class="clear"></em>
                                                        </a>
                                                    </p>
                                                    <div class="event_description evcal_eventcard">
                                                        <div class="evo_metarow_fimg evorow evcal_evdata_img event_img_2">
                                                            <img id="egresados" src="https://pbs.twimg.com/media/ElBto-dXIAI7qCI.jpg" alt="">
                                                        </div>
                                                        <div class="evo_metarow_details evorow evcal_evdata_row bordb evcal_event_details">
                                                            <span class="evcal_evdata_icons"><i class="fa fa-align-justify"></i></span>
                                                            <div class="evcal_evdata_cell ">
                                                                <div class="eventon_full_description">
                                                                    <h3 class="padb5 evo_h3">Event Details</h3>
                                                                    <div class="eventon_desc_in">
                                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                                                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                                                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                                                                            beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi
                                                                            nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
                                                                            aliquam quaerat voluptatem.</p>
                                                                    </div>
                                                                    <div class="clear"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="evo_metarow_time evorow evcal_evdata_row bordb evcal_evrow_sm ">
                                                            <span class="evcal_evdata_icons"><i class="fa fa-clock-o"></i></span>
                                                            <div class="evcal_evdata_cell">
                                                                <h3 class="evo_h3">Time</h3>
                                                                <p>(Monday) 10:00 am - 4:00 pm</p>
                                                            </div>
                                                        </div>
                                                        <div class="evo_metarow_ICS evorow bordb evcal_evdata_row">
                                                            <span class="evcal_evdata_icons"><i class="fa fa-calendar"></i></span>
                                                            <div class="evcal_evdata_cell">
                                                                <p>
                                                                    <a href="#" class="evo_ics_nCal" title="Add to your calendar">Calendar</a>
                                                                    <a href="#" target="_blank" class="evo_ics_gCal" title="Add to google calendar">GoogleCal</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="clear end"></div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                            <!-- #evcal_list-->
                                            <div class="clear"></div>
                                        </div>
                                        <div class="vc_empty_space hpx_30">
                                            <span class="vc_empty_space_inner"></span>
                                        </div>
                                        <!-- <div class="wpb_text_column wpb_content_element">
                                            <div class="wpb_wrapper">
                                                <div id='wca7bea6b5041e89cea9f609c0e36734c6' class='wcContainer wcControlsButtonsIncluded'>
                                                    <div class='wcMessages'>
                                                        <div class="wcMessage" data-id="481" data-chat-user-id="25305">
                                                            <span class="wcMessageTime" data-utc="2017-02-08T04:52:20+00:00"></span>
                                                            <span class="wcMessageUser">X-CDT:</span>
                                                            <span class="wcMessageContent">Buenos dias!</span>
                                                        </div>
                                                        <div class="wcMessage" data-id="482" data-chat-user-id="25310">
                                                            <span class="wcMessageTime" data-utc="2017-02-08T05:52:40+00:00"></span>
                                                            <span class="wcMessageUser">X-TALENTO:</span>
                                                            <span class="wcMessageContent">holaa</span>
                                                        </div>
                                                        <div class="wcMessage" data-id="483" data-chat-user-id="26957">
                                                            <span class="wcMessageTime" data-utc="2017-02-08T10:42:01+00:00"></span>
                                                            <span class="wcMessageUser">X-MERCADEO:</span>
                                                            <span class="wcMessageContent">cómo van?</span>
                                                        </div>
                                                        <div class="wcMessage" data-id="484" data-chat-user-id="27935">
                                                            <span class="wcMessageTime" data-utc="2017-02-08T12:09:36+00:00"></span>
                                                            <span class="wcMessageUser">X-BIENESTAR:</span>
                                                            <span class="wcMessageContent"><img src='assets/images/icons/silly.png' alt='silly' class='wcEmoticon' /></span>
                                                        </div>
                                                    </div>
                                                    <div class="wcControls">
                                                        <a href="#" class="wcToolButton wcInsertEmoticonButton" title="Insert an emoticon"></a>
                                                        <div class='wcInputContainer'>
                                                            <input class='wcInput' type='text' maxlength='400' placeholder='Escribe...' title="Use Shift+ENTER in order to move to the next line " />
                                                        </div>
                                                        <div class="wcPoweredBy">Created by
                                                            <a href="http://kaine.pl/" title="WordPress development">Kainex</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                    <div class="column-1_2 sc_column_item sc_column_item_2">
                                        <div class="sc_section sc_section_block">
                                            <div class="sc_section_inner">
                                                <div class="sc_section_content_wrap">
                                                    <h2 class="sc_title sc_title_regular">Encuesta&nbsp;</h2>
                                                    <div class="weblator-poll-container" data-poll-id="1">
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading">
                                                                <h3 class="panel-title">¿Te resulta sencillo el uso</h3>
                                                                <h3 class="panel-title">de UNINET?&nbsp;</h3>
                                                            </div>
                                                            <div class="panel-body weblator-poll-vote">
                                                                <div class="alert alert-success">Thank you for voting</div>
                                                                <div class="alert alert-warning">You have already voted on this poll!</div>
                                                                <div class="alert alert-danger">Please select an option!</div>
                                                                <ul>
                                                                    <li>
                                                                        <input type="radio" data-index="0" name="weblator-chart-options" #radio1 (click)="radios1(radio1)" id="option-7" data-poll-id="1" value="1" />
                                                                        <label for="option-7">Opción 1: Es sencillo</label>
                                                                    </li>
                                                                    <li>
                                                                        <input type="radio" data-index="1" name="weblator-chart-options" #radio2 (click)="radios2(radio2)" id="option-8" data-poll-id="1" value="2" />
                                                                        <label for="option-8">Opción 2: Puede ser algo confuso</label>
                                                                    </li>
                                                                    <li>
                                                                        <input type="radio" data-index="2" name="weblator-chart-options" #radio3 (click)="radios3(radio3)" id="option-9" data-poll-id="1" value="3" />
                                                                        <label for="option-9">Opción 3: Puede mejorar</label>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="panel-footer">
                                                                <div class="button-vote">

                                                                </div>
                                                                <div class="weblator-view-results">
                                                                    <a href="#" class="weblator-view-poll btn btn-default">Ver Resultados</a>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="width-control">
                                                            <div class="bs-chart-container">
                                                                <strong>Opción 1: </strong>

                                                                <p>
                                                                    <ngb-progressbar type="success" textType="white" [value]="voto1" [showValue]="true"></ngb-progressbar>
                                                                </p>

                                                                <strong>Opción 2: </strong>

                                                                <p>
                                                                    <ngb-progressbar type="warning" textType="dark" [value]="voto2" [showValue]="true"></ngb-progressbar>
                                                                </p>

                                                                <strong>Opción 3: </strong>
                                                                <p>
                                                                    <ngb-progressbar type="danger" textType="dark" [value]="voto3" [showValue]="true"></ngb-progressbar>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vc_empty_space hpx_30">
                                            <span class="vc_empty_space_inner"></span>
                                        </div>
                                        <div class="sc_section sc_section_block">
                                            <div class="sc_section_inner">
                                                <div class="sc_section_content_wrap">
                                                    <h2 class="sc_title sc_title_regular">Actividades&nbsp;</h2>
                                                    <div id="sc_projects_297_wrap" class="sc_projects_wrap">
                                                        <div id="sc_projects_297" class="sc_projects">
                                                            <div id="sc_projects_297_1" class="sc_projects_item sc_projects_item_1">
                                                                <div class="sc_projects_item_featured post_featured">
                                                                    <div class="post_thumb" data-image="assets/images/project1.jpg" data-title="Rock Group Project">
                                                                        <a class="hover_icon hover_icon_link" href="single-post.html">
                                                                            <img alt="" src="https://www.runt.com.co/sites/all/sites/default/files/private/images/2018/Actualizaci%C3%B3n.jpg">

                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="sc_projects_item_content">
                                                                    <h4 class="sc_projects_item_title">
                                                                        <a href="single-post.html">Actualiza tus datos</a>
                                                                    </h4>
                                                                    <div class="sc_projects_item_description">
                                                                        <p>Actualiza tus datos para...</p>
                                                                        <div id="sc_skills_diagram_629" class="sc_skills sc_skills_bar sc_skills_horizontal" data-type="bar" data-caption="Skills" data-dir="horizontal">
                                                                            <div class="sc_skills_info">
                                                                                <div class="sc_skills_label"></div>
                                                                            </div>
                                                                            <div class="sc_skills_item sc_skills_style_1">
                                                                                <div class="sc_skills_count">
                                                                                    <div class="sc_skills_total" data-start="0" data-stop="76" data-step="1" data-max="100" data-speed="14" data-duration="1064" data-ed="%">0%</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="total">76%</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div id="sc_projects_297_2" class="sc_projects_item sc_projects_item_2">
                                                                <div class="sc_projects_item_featured post_featured">
                                                                    <div class="post_thumb" data-image="assets/images/project2.jpg" data-title="SeoRocket Project">
                                                                        <a class="hover_icon hover_icon_link" href="single-post.html">
                                                                            <img alt="" src="https://www3.gobiernodecanarias.org/medusa/ecoescuela/seguridad/files/formidable/15/red-social.jpg">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="sc_projects_item_content">
                                                                    <h4 class="sc_projects_item_title">
                                                                        <a href="single-post.html">Solicitar informacion x</a>
                                                                    </h4>
                                                                    <div class="sc_projects_item_description">
                                                                        <p>Xxxx xxxxx xxxx...</p>
                                                                        <div id="sc_skills_diagram_577" class="sc_skills sc_skills_bar sc_skills_horizontal" data-type="bar" data-caption="Skills" data-dir="horizontal">
                                                                            <div class="sc_skills_info">
                                                                                <div class="sc_skills_label"></div>
                                                                            </div>
                                                                            <div class="sc_skills_item sc_skills_style_1">
                                                                                <div class="sc_skills_count">
                                                                                    <div class="sc_skills_total" data-start="0" data-stop="100" data-step="1" data-max="100" data-speed="37" data-duration="3700" data-ed="%">0%</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="total">100%</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="related_wrap related_wrap_empty"></section>
        </article>
        <a href="#" class="scroll_to_top icon-up" title="Ir al principio"></a>
    </div>
    <!-- contenido -->
    <!-- sidebar2  -->
    <div class="sidebar_wrap sidebar widget_area scheme_original" role="complementary">
        <app-sidebar2></app-sidebar2>
    </div>
    <!-- sidebar2  -->
</div>
<!-- footer  -->
<app-footer></app-footer>
<!-- footer  -->