<nav class="menu_main_nav_area ">
    <ul id="menu_main" class="menu_main_nav ">
        <li routerLinkActive="current-menu-ancestor" style="cursor: pointer;" class="icon-folder  page_item current_page_item menu-item-home menu-item    ">
            <a href=""><span>INICIO</span></a>
            <ul class="sub-menu">
                <li class="menu-item current-menu-item "><a style="cursor: pointer;" routerLink="/inicio"><span>INICIO</span></a></li>

            </ul>
        </li>
        <li routerLinkActive="current-menu-ancestor" class="icon-users-group menu-item menu-item-has-children" style="cursor: pointer;">
            <a href=""><span>EQUIPO</span></a>
            <ul class="sub-menu">
                <li class="menu-item"><a style="cursor: pointer;" routerLink="/administracion"><span>Administración</span></a></li>
                <li class="menu-item"><a style="cursor: pointer;" routerLink="/facultad-ingenieria"><span>Facultad de Ingeniería</span></a></li>
                <li class="menu-item"><a style="cursor: pointer;" routerLink="/facultad-derecho"><span>Facultad de Derecho</span></a></li>
                <li class="menu-item"><a style="cursor: pointer;" routerLink="/facultad-ciencias-empresariales"><span>Facultad de Ciencias Empresariales</span></a></li>
            </ul>
        </li>


        <li routerLinkActive="current-menu-ancestor" style="cursor: pointer;" class="icon-rocket menu-item menu-item-has-children icon-technology-2">
            <a href=""><span>EMPLEO&nbsp;</span></a>
            <ul>
                <li class="menu-item"><a style="cursor: pointer;" routerLink="/vacantes"><span>Vacantes</span></a></li>
                <li class="menu-item"><a style="cursor: pointer;" routerLink="/hojas-de-vida"><span>Hojas de Vida</span></a></li>
            </ul>


        </li>
        <li routerLinkActive="current-menu-ancestor" class="icon-technology-2 menu-item"><a style="cursor: pointer;" routerLink="/archivos"><span>ARCHIVOS&nbsp;</span></a></li>

    </ul>
</nav>