<nav class="menu_main_nav_area ">
    <ul id="menu_main" class="menu_main_nav ">
        <li class="icon-folder menu-item current-menu-ancestor current-menu-parent menu-item-has-children ">
            <a><span>INICIO</span></a>
            <ul class="sub-menu">
                <li routerLinkActive="active" class="menu-item menu-item-home current-menu-item page_item current_page_item"><a style="cursor: pointer;" routerLink="/inicio"><span>INICIO</span></a></li>

            </ul>
        </li>
        <li class="icon-users-group menu-item menu-item-has-children" style="cursor: pointer;">
            <a><span>EQUIPO</span></a>
            <ul class="sub-menu">
                <li routerLinkActive="active" class="menu-item"><a style="cursor: pointer;" routerLink="/administracion"><span>Administración</span></a></li>
                <li routerLinkActive="active" class="menu-item"><a style="cursor: pointer;" routerLink="/facultad-ingenieria"><span>Facultad de Ingeniería</span></a></li>
                <li routerLinkActive="active" class="menu-item"><a style="cursor: pointer;" routerLink="/facultad-derecho"><span>Facultad de Derecho</span></a></li>
                <li routerLinkActive="active" class="menu-item"><a style="cursor: pointer;" routerLink="/facultad-ciencias-empresariales"><span>Facultad de Ciencias Empresariales</span></a></li>
            </ul>
        </li>


        <li class="icon-rocket menu-item menu-item-has-children icon-technology-2">
            <a><span>EMPLEO&nbsp;</span></a>
            <ul>
                <li class="menu-item"><a style="cursor: pointer;" routerLink="/vacantes"><span>Vacantes</span></a></li>
                <li class="menu-item"><a style="cursor: pointer;" routerLink="/hojas-de-vida"><span>Hojas de Vida</span></a></li>
            </ul>


        </li>
        <li class="icon-technology-2 menu-item"><a style="cursor: pointer;" routerLink="/archivos"><span>ARCHIVOS&nbsp;</span></a></li>
        <!-- <li class="icon-cog menu-item menu-item-has-children">
            <a><span>OPCIONES&nbsp;</span></a>
            <ul class="sub-menu">
                <li class="menu-item"><a href="typography.html"><span>Typography</span></a></li>
                <li class="menu-item"><a href="shortcodes.html"><span>Shortcodes</span></a></li>
                <li class="menu-item"><a href="infographic.html"><span>Infographic</span></a></li>
                <li class="menu-item menu-item-has-children">
                    <a><span>Pages</span></a>
                    <ul class="sub-menu">
                        <li class="menu-item"><a href="single-post.html"><span>Blog Post</span></a></li>
                        <li class="menu-item"><a href="single-event.html"><span>Event Page</span></a></li>
                        <li class="menu-item"><a href="single-training.html"><span>Training page</span></a></li>
                        <li class="menu-item"><a href="single-team.html"><span>Team Member</span></a></li>
                        <li class="menu-item"><a href="about.html"><span>About Company</span></a></li>
                        <li class="menu-item"><a href="contacts.html"><span>Contacts</span></a></li>
                        <li class="menu-item"><a href="support.html"><span>Support</span></a></li>
                        <li class="menu-item"><a href="faq.html"><span>FAQ</span></a></li>
                    </ul>
                </li>
            </ul>
        </li> -->
    </ul>
</nav>