<app-navbar>
</app-navbar>
<div class="page_content_wrap">
    <div class="menu_main_wrap">
        <app-sidebar></app-sidebar>
    </div>
    <div class="content_wrap with_title">
        <div class="top_panel_title">
            <div class="top_panel_title_inner">
                <h1 class="page_title">PERFILES DE EMPLEO</h1>
            </div>
        </div>
        <div class="content_wrap">
            <article class="post_item post_item_single post_format_standard page hentry">
                <section class="post_content">
                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="columns_wrap sc_columns columns_nofluid sc_columns_count_2">
                                        <div class="column-1_2 sc_column_item sc_column_item_1">
                                            <div class="sc_section sc_section_block">
                                                <div class="sc_section_inner">
                                                    <div class="sc_section_content_wrap">
                                                        <h3 class="sc_title sc_title_regular">Perfil de HV Para Ingeniería Informática</h3>
                                                        <div class="vc_empty_space hem_1-3">
                                                            <span class="vc_empty_space_inner"></span>
                                                        </div>
                                                        <span class="sc_icon icon-pdf-documentation alignleft"></span>
                                                        <h6 class="sc_title sc_title_regular">
                                                            <a href="#"> docente investigador de tiempo completo para el programa de Ingeniería Informática en el área de desarrollo.</a>
                                                        </h6>
                                                        <div class="wpb_text_column wpb_content_element">
                                                            <div class="wpb_wrapper">
                                                                <p>Resumen de la vacante</p>
                                                            </div>
                                                        </div>
                                                        <div class="sc_line sc_line_position_center_center sc_line_style_solid"></div>
                                                        <span class="sc_icon icon-pdf-documentation alignleft"></span>
                                                        <h6 class="sc_title sc_title_regular">
                                                            <a href="#">docente investigador de tiempo completo para el programa de Ingeniería Informática en el área electrónica, robótica, redes y seguridad informática.</a>
                                                        </h6>
                                                        <div class="wpb_text_column wpb_content_element">
                                                            <div class="wpb_wrapper">
                                                                <p>Resumen de la vacante</p>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="vc_empty_space hpx_30">
                                        <span class="vc_empty_space_inner"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="vc_row wpb_row vc_row-fluid">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="columns_wrap sc_columns columns_nofluid sc_columns_count_2">


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- </section> class="post_content"> -->
                <section class="related_wrap related_wrap_empty"></section>
            </article>
            <!-- </article> class="post_item post_item_single post_format_standard page hentry"> -->
            <a href="#" class="scroll_to_top icon-up" title="Scroll to top"></a>
        </div>
        <div class="sidebar_wrap sidebar widget_area scheme_original" role="complementary">
            <app-sidebar2></app-sidebar2>
        </div>
    </div>
    <app-footer></app-footer>